*
{   
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heading h4
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px teal;
    
}
.font::after {
content: "*";
color: red;
}

.checked {
color: orange;
}

td {
width: 130px;
padding: 5px;
}
.float2
{
margin-left: 300px;

}
#email::placeholder
{
width: 300px;
}
.child
{
opacity: 0.5;
}

  

tr:nth-child(odd)
{
    background-color:#D6EEEE;
}
.font
{
    font-weight: bold;
}